/* navbar.css */
.navbar-container {
    background-color: #34495e;
    padding: 10px 20px;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .navbar-home a {
    font-size: 1.5rem;
    font-weight: bold;
    color: #ecf0f1;
    text-decoration: none;
  }
  
  .navbar-home a:hover {
    color: #bdc3c7;
  }
  
  .navbar-links a {
    margin-left: 20px;
    font-size: 1rem;
    color: #ecf0f1;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .navbar-links a:hover {
    color: #bdc3c7;
  }
  